@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Noto+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --index: calc(1vw + 1vh);
}

/* Жестко задаем шрифт для всей страницы */
body {
  font-family: 'Poppins', sans-serif;
}

/* Убиваем фокус для всех элементов графиков */
*:focus,
.recharts-wrapper,
.recharts-surface {
    outline: none !important;
    box-shadow: none !important;
}